<div class="card">
    <p-table #dt1 [value]="researchers" (sortFunction)="customSort($event)" selectionMode="single" [customSort]="true"
        [globalFilterFields]="['firstName', 'lastName', 'interests', 'faculty']" (onRowSelect)="redirect($event)">
        <ng-template pTemplate="caption">
            Liste Des Chercheurs
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <!-- <i class="pi pi-search mr-2"></i> -->
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Rechercher" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName">Prénom <p-sortIcon field="firstName" class="col-12"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">Nom <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="interests"> Intérêts de Recherche <p-sortIcon field="interests"></p-sortIcon>
                </th>
                <th pSortableColumn="faculty">Faculté <p-sortIcon field="faculty"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-researcher>
            <tr [pSelectableRow]="researcher">
                <td>
                    {{researcher.firstName}}
                </td>
                <td>
                    {{researcher.lastName}}
                </td>
                <td>
                    <div *ngIf="researcher.interests.includes('Bio-Technologie')" class="mb-1">
                        <p-tag styleClass="mr-2" severity="info" value="Bio-Technologie"></p-tag>
                    </div>
                    <div *ngIf="researcher.interests.includes('Gènes et évolution')" class="mb-1">
                        <p-tag styleClass="mr-2" severity="info" value="Gènes et évolution"></p-tag>
                    </div>
                    <div *ngIf="researcher.interests.includes('Intelligence Artificielle')" class="mb-1">
                        <p-tag styleClass="mr-2" severity="info" value="Intelligence Artificielle"></p-tag>
                    </div>
                </td>
                <td *ngIf="researcher.faculty === 'Génie'"><span class="p-column-title">Faculté</span>
                    <p-tag styleClass="mr-auto" severity="warning" value="Génie"></p-tag>
                </td>
                <td *ngIf="researcher.faculty === 'Sciences Sociales'"><span class="p-column-title">Faculté</span>
                    <p-tag styleClass="mr-2" severity="primary" value="Sciences Sociales"></p-tag>
                </td>
                <td *ngIf="researcher.faculty === 'Sciences'"><span class="p-column-title">Faculté</span>
                    <p-tag styleClass="mr-2" severity="success" value="Sciences"></p-tag>
                </td>
                <td *ngIf="researcher.faculty === 'Telfer'"><span class="p-column-title">Faculté</span>
                    <p-tag styleClass="mr-2" severity="danger" value="Telfer"></p-tag>
                </td>
                </tr>
            </ng-template>
        </p-table>
</div>
